body {
    font-family: 'Lato', sans-serif !important;
}

.container {
    width: 1160px !important;
    margin: 0 auto !important;
}

h1 {
    font-size: 48px !important;
    font-weight: bold !important;
}
h3 {
    font-size: 32px;
    font-weight: bold;
}

h4 {
    font-weight: 26px !important;
    font-weight: bold !important;
}

h5 {
    font-size: 24px !important;
    font-weight: bold !important;
}

h6 {
    font-size: 19px !important;
    font-weight: bold !important;
}

p {
    font: 1rem !important;
    font-weight: normal !important;
}

li {
    list-style: none;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
}

button {
    border: 1px solid transparent;
    outline: none;
    background-color: #fff;
}

.active {
    background-color: #871E99;
    color: #fff;
}

.profile__img {
    width: 138px;
    margin: 0 auto;
}

.logo__icon select {
    background-color: transparent;
    outline: none;
}

.detail__name {
    width: 70%;
    font-size: 25px;
    font-weight: bold !important;
    color: #871E99;
    text-align: center;
    line-height: 1;
    text-align: center;
    margin: 0 auto;
}

.detail__info {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    color: #000;
}

.line {
    width: 70%;
    border: 1px solid #E0E0E0;
    margin: 0 auto;
}

.side__menu {
    text-align: center;
    margin: 0 auto;
}

.side__menu li {
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    max-width: 142px;
    margin: 0 auto;
    line-height: 40px;
    border-radius: 4px;
}

.socials button {
    height: 30px;
    border-radius: 4px;
    border: 1px solid #871E99;
    font-size: 12px;
    color: #871E99;
    font-weight: bold;
    width: 94px;
    text-align: center;
}

.socials {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.soc {
    width: 80%;
    margin: 0 auto;
}

.right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.fol {
    font-size: 13px;
}

.number {
    font-size: 18px;
    color: #871E99;
    font-weight: bold;
}

.lucid {
    font-size: 13px;
    color: #AAAAAA;
}

.btn__btn {
    width: 89px;
    background-color: #871E99 !important;
    border: 1px solid transparent;
    color: #fff !important;
}

.btn__btn:hover {
    background-color: #fff !important;
    border: 1px solid #871E99 !important;
    color: #871E99 !important;
}

.settings {
    font-weight: bold !important;
    font-size: 25px;
    color: #000;
}

.label__form {
    font-weight: bold !important;
    font-size: 18px;
}

.nav__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav__nav li a {
    font-size: 20px !important;
}

.nav__nav__active {
    text-decoration: underline;
    color: #871E99 !important;
    font-weight: bold !important;
}

.input__form {
    height: 48px;
}

option:hover {
    color: grey !important;
}

.prog img {
    width: 100%;
}

.logo__icon {
    display: flex;
    justify-content: flex-end;
}

.tag {
    margin-right: .5rem !important;
    background-color: #871E99 !important;
    padding: .2rem;
}

.bootstrap-tagsinput {
    border: 1px solid transparent !important;
    box-shadow: 0 0 transparent !important;
}

.tag__box {
    height: 40px;
    border: 1px solid#E0E0E0;
    display: flex;
}

.btn__box {
    max-width: 200px;
    border: 1px solid #ced4da;
    display: flex;
    height: 40px;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
}

.btn__box img {
    margin: 0 .4rem;
}

.add__work__btn {
    color: #332E2E;
    font-size: 15px;
}

.file-field {
    border: 1px solid #ced4da;
}

.project {
    height: 40px;
}

.upload__img {
    width: 40px;
}

.upload__file {
    height: 100%;
    display: flex;
    align-items: center;
    
}

.file__file {
    border: 1px solid #ced4da;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #AAAAAA;
    cursor: pointer;
}

.upload__img img {
    width: 100%;
    height: auto;
}

.upload__link {
    height: 100%;
    border: 1px solid #ced4da;
    display: flex;
    align-items: center;
    padding-left: .3rem;
    color: #AAAAAA;
    cursor: pointer;
}

.project__number {
    font-size: 18px;
    font-weight: bold !important;
    color: #000;
}

.testimonial__btn button {
    border: 1px solid #ced4da !important;
    width: 100%;
    color: #ced4da;
    border: 4px;
}

.testy {
    font-size: 18px;
}

.file__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner__wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner__wrapper img {
    width: 100%;
}

.file__wrapper button {
    width: 60%;
    background-color: #871E99;
    color: #fff;
    height: 48px;
    margin: 0 auto;
    border-radius: 4px;
}

@media screen and (max-width: 576px) {
    .logo__icon, .prog, .fxm {
        width: 80% !important;
        margin: 0 auto 1rem auto;
    }
    .soc {
        width: 30%;
        margin: 0 auto;
    }
    .side__bar {
        width: 100% !important;
    }
    .container {
        width: 100% !important;
    }
}